body {
    background-color: #faf0e6;
}

.header {
    background-color: #ffdab9;
}

h1 {
    font-family: Papyrus;
}

nav {
    font-family: Arial;
}

h2 {
    font-family: Arial;
}

p {
    font-family: Arial;
}

